<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidebar-doctor></app-sidebar-doctor>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <h1>My Appointments</h1>
      <div *ngFor="let date of dates">
        <app-patient-date-card [routerLink]="['/appointmentsPatients', date.patientId]"
                          [namePatient]="getNamePatient(date.patientId)"
                          [date]="date.date"
                               [hourStart]="date.startTime"
                               [hourEnd]="date.endTime">
        </app-patient-date-card>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
