:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background: #E0E0E0;
}

mat-drawer-container {
  height: 100%;
}

h1 {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 35px;
}

.container {
  margin-top: 3%;
  margin-left: 7%;
}

.h2-dose{
  margin-bottom: 7%;
}

h2 {
  margin-top: 3%;
  margin-left: 5%;
  color: white;
}

h3 {
  margin-left: 5%;
  color: white;
}

.cards {
  margin-top: 3%;
}

.recommendations-card {
  border-radius: 15px;
  background-color: #4F4F4F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.recommendations-card-text {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.medicine-card{
  border-radius: 15px;
  background-color: #4F4F4F;
}

.dose-card{
  border-radius: 15px;
  background-color: #4F4F4F;
}

.where-to-get-it-card{
  border-radius: 15px;
  background-color: #4F4F4F;
}

.bold-text {
  font-weight: bold;
}

.index-number{
  font-size: 65px;
}

.meal-hours-wrapper {
  display: flex;
  flex-direction: column;
}

.meal-hours {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.duration {
  margin-left: 5%;
  color: white;
  font-size: 18px;
  flex-grow: 1;
}

.doctorImg{
  border-radius: 50%;
  border: 1px solid #0093AB;
  height: 150px;
  width: 150px;
  margin: 0 50px 0 30px;
}

.doctorInfo{
  display: flex;
  flex-direction: column;
}

.doctorPrincipal h1{
  color: white;
}

.spacer{
  margin-top: 5%;
}

.logos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  border-radius: 7px;
  width: 25%;
  margin: 10px;
}
